@import './base.css';

main {
  position: absolute;
  top: 100vh;
  min-height: 100vh;
}

a {
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  will-change: color;
  text-decoration: none;
  font-weight: 400;
  margin-right: 5rem;
  
}

a:hover {
  color: rgba(255, 255, 255, 1);
}

.scrolled a
{
  color: #000000;
}